.color-scale-form{
	.slider {
    > .colorbar {
      width: 100%;
      height: 100%;
    }
    margin-bottom: 2px;
	}

  .inputs{
      input[type="text"]{
          width: 50px;
      }
      input[type="checkbox"]{
        margin-top: 1px;
        margin-bottom: 1px;
      }
  }

  &.sequential{
    .inputs {
      .vmin {
        float: left;
        text-align: left;
        input[type="checkbox"] {
          float: left;
          margin-left: 0;
        }
      }
      .vmax {
        float: right;
        text-align: right;
        input[type="checkbox"] {
          float: right;
          margin-right: 0;
        }
      }
    }
  }

  &.diverging {
    table {
      border-spacing: 0;
    }
    .main-table {
      > tbody > tr > td{
        vertical-align: top;
      }
      width: 100%;
      .vmin-label {
        text-align: left;
      }
      .vmax-label {
        text-align: right;
      }
    }
    .inputs {

      .plus-minus-icon {
        font-family: sans;
        color: black;
        font-size: 14px;
      }

      .vmid-text {
        width: 25px;
      }
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

}
