@import "rounded-corners.less";
@import "button.less";

@link_primary: #11c;
@link_secondary: #4272db;
@chrome_primary: #bcf;
@chrome_secondary: #e3e9ff;
@chrome_dark: #828eb2;
@fill_primary: #ebeef8;
@fill_secondary: #f2f2f2;
@fill_editable: #ffffd6;
@selected_primary: #68e;
@selected_highlight: #FF6A00;
@green_primary: #282;
@green_secondary: #3d3;
@notification_primary: #fe8;
@faint_grey: #ddd;
@light_grey: #999;
@metadata_grey: #777;
@near_black: #444;
@dialog_frame: #3a5774;
@dialog_border: #c1d9ff;
@dialog_header: #e0edfe;
@dialog_footer: #eee;

@padding_tighter: 3px;
@padding_tight: 5px;
@padding_normal: 7px;
@padding_loose: 10px;
@padding_looser: 15px;

@tab_h: 40px;
@tab_bw: 1px;
@tab_corner_radius: 7px;

.layer-editor{

	> .container{
		@body_h: 225px;
		min-height: @tab_h;
		/*
		max-height: @tab_h + @tab_corner_radius + @body_h + 2 * @padding_normal;
		height: @tab_h;
		*/
		height: @tab_h + @tab_corner_radius + @body_h + 2 * @padding_normal;
		width: 100%;
		overflow: hidden;
		position: relative;

		> .header{
			.rounded_corners(@tab_corner_radius);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: @chrome_primary;  

			.header-table {
				height: @tab_h;
				width: 100%;

				.title-container{
					height: 100%;

					.title {
						.button;
						display: inline-block;
						.rounded_corners(@tab_corner_radius);
						margin: @padding_tight;
						font-size: 18px;
						padding: 1px @padding_looser;

						button.toggle {
							.button;
						}
					}
				}

				.visibility-toggle-container{
					width: 5em;
				}


			}
		}

		> .body {
			display: none;
			position: absolute;
			top: @tab_h;
			left: @tab_bw;
			right: @tab_bw;
			bottom: @tab_corner_radius;
			overflow: hidden;
			border-width: 0 0;
			border-color: @chrome_primary;
			border-style: solid;
			font-size: 14px;

			> .layer-form{
				overflow-y: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: @body_h + 2 * @padding_normal;
				background: white;

			}
		}
	}
}


.layer-editor.disabled{
	.header {
		.title {
			color: gray;
			button {
				color: gray;
			}
		}
	}
}

