@import url("require:CommonStyles/styles/variables.less");
@import url("require:CommonStyles/styles/rounded-corners.less");
@import url("require:CommonStyles/styles/button.less");

@tab_h: 40px;
@tab_bw: 1px;
@tab_corner_radius: 7px;

.layer-editor {

    > table {
        width: 100%;
    }

    .layer-editor-header{
        width: 100%;
        display: table-row;

        > .cell {
            display: table-cell;
            vertical-align: middle;
        }

        .drag-handle-container{
            width: 16px;

            &.disabled {
                width: 0;
                display: none;
            }

            > .layer-editor-drag-handle{
                background-image: url('images/drag_arrow.png');
                background-size: 100% 100%;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
        }

        .disabled-toggle-container{
            width: 16px;

            .disabled-toggle-cb {
                cursor: pointer;
            }
        }

        .title-container{
            width: 100%;
            height: 100%;
            position: relative;
            padding: 0 @padding_normal;

            > .inner{
                position: relative;
                width: 100%;

                .title {
                    .button;
                    width: 100%;

                    .text {
                        font-size: 14px;
                        margin-left: @padding_tight;
                        padding: 1px @padding_looser;
                        vertical-align: middle;
                    }

                    .arrow{
                        width: 20px;
                    }
                }
            }
        }
    }

    .layer-editor-body {
        display: none;
        font-size: 14px;
        padding: @padding_normal;
        position: relative;

        > .overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: @faint_grey;
            z-index: 5;
        }

        > .layer-form{
          background: white;

          .layer-option-form {
            margin: @padding_normal 0;
          }

          fieldset {
            legend {
              font-family: sans-serif;
            }
          }
        }
    }


    &.disabled {
        .layer-editor-header {
          color: #777;
        }
        .layer-editor-body > .overlay{
            display: block;
            opacity: .5;
        }
    }

}

