@import url("require:CommonStyles/styles/variables.less");
@import url("require:CommonStyles/styles/rounded-corners.less");
@import url("require:CommonStyles/styles/button.less");

@import "VectorDataLayerEditor.less";

.layer-collection-editor > .body-table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	> .layer-editor-row {
    margin-bottom: 2px;

    > table {
      width: 100%;
      border-spacing: 0;
    }

    .title-cell, .body-cell{
      position: relative;
    }

    .overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: @faint_grey;
      opacity: .5;
      z-index: 5;
    }

    .title-overlay{
      pointer-events: none;
    }

    &.disabled {
      .overlay {
        display: block;
      }
    }

	}

  .layer-editor-header-row {

    > td{
      vertical-align: middle;
    }

    .option-container, .drag-handle-container{
      width: 16px;
    }

    .layer-editor-drag-handle {
      background-image: url('images/drag_arrow.png');
      background-size: 100% 100%;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    .title-button{
      .button;
    }

    .title-table{
      width: 100%;
      border-spacing: 0;

      .toggle-icon{
        width: 16px;
        margin: 0 2px;
        font-family: mono;
      }
    }
  }


  .layer-editor-body {
    display: none;
    position: relative;

    > .layer-form{
      background: white;

      fieldset {
        border: 0;
        padding: 0 0 2px 0;
        legend {
          font-family: sans-serif;
        }
      }
    }
  }

}

