@import url("require:CommonStyles/styles/variables.less");
@import url("require:CommonStyles/styles/rounded-corners.less");
@import url("require:CommonStyles/styles/button.less");
@import url("require:tabble/jquery.ui.tabble.less");

@tab_h: 40px;
@tab_bw: 1px;
@tab_corner_radius: 7px;

.map-editor{

  display: inline-block;
  position: relative;

  > .body{
    height: 100%;
    width: 100%;
  }

  .map-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  div.layers-editor-container {
    width: 300px;
    height: 100%;
  }

  .layers-editor{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    overflow-y: scroll;

    .ui-accordion-content {
      padding: 0;
    }
  }

}
