<div class="container">

	<div class="tab-container">

		<table class="tab">
			<tr>
				<td class="drag-handle-container">
				</td>

				<td class="title-container">
					<div class="title">
						Layer Name
						<button class="toggle">&#x25BC;</button>
					</div>
				</td>

				<td class="visibility-toggle-container">
					<div class="visibility-toggle">
						<input id="<%= model.cid %>-visibility-toggle" class="visibility-toggle-cb" type="checkbox"/>
						<label for="<%= model.cid %>-visibility-toggle">show</label>
					</div>
				</td>
			</tr>
		</table>

	</div>

	<div class="body-container">
		<div class="body">
			<div class="layer-form-container">
				<div class="layer-form">
				</div>
			</div>
		</div>
	</div>

</div>
