<table>
    <tr class="layer-editor-header">

        <td class="drag-handle-container cell">
            <div class="layer-editor-drag-handle disabled">
            </div>
        </td>

        <td class="disabled-toggle-container cell">
            <div class="disabled-toggle">
                <input class="disabled-toggle-cb" type="checkbox"/>
            </div>
        </td>

        <td class="title-container cell">
            <div class="inner">
                <div class="overlay"></div>
                <table class="title">
                    <tr>
                        <td class="text"><%= model.get('label') %></td>
                        <td class="arrow">
                            &#x25BC
                        </td>
                    </tr>
                </table>
            </div>
        </td>

        <td class="info-container cell">
            <a class="info-button disabled" href="javascript:{}">
                info
                <div class="content"></div>
            </a>
        </td>
    </tr>

    <tr>
        <td colspan="10">
            <div class="layer-editor-body">
                <div class="layer-form">
                </div>
            </div>
        </td>
    </tr>
</table>

