<div class="inner">
    <div class="map-container">
    </div>

    <div class="control layers-control">
        <a class="launcher" href="javascript:{}">Layers <span class="toggleIcon">+</span></a>
        <div class="control-body uninitialized">
            <div class="layers-editor">
                <h3>Overlays</h3>
                <div class="overlay-layers-editor"></div>

                <h3>Base Maps</h3>
                <div class="base-layers-editor"></div>
            </div>
        </div>
    </div>

    <div class="control legend-control">
        <a class="launcher" href="javascript:{}">Legend <span class="toggleIcon">+</span></a>
        <div class="control-body uninitialized">
        </div>
    </div>
</div>
