<table class="body-table">
	<tr class="row map-row">
		<td class="cell map-cell">
			<div class="map-container">
				Map
			</div>
		</td>
	</tr>

	<tr class="row layer-editor-row">
		<td class="cell layer-editor-cell">
			<div class="layer-editor-container">
				<div class="layer-editor-tab">

					<div class="title-container">
						<div class="title">
							Configure Map
							<button class="toggle">&#x25B2;</button>
						</div>
					</div>

					<div class="body-container">
						<div class="body">
							<div class="inner">
								<div class="layer-editor">
									Layer Editor
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</td>
	</tr>

</table>
