<table class="body">
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>
            <div>
                <h3>Configure Map</h3>
                <div class="layers-editor-container">
                    <div class="layers-editor">
                        <div class="accordions">
                            <div class="accordion base-layers-accordion">
                                <h3>Overlay Layers</h3>
                                <div class="overlay-layers">
                                </div>
                            </div>
                            <div class="accordion data-layers-accordion">
                                <h3>Data Layers</h3>
                                <div class="data-layers">
                                </div>
                            </div>
                            <div class="accordion base-layers-accordion">
                                <h3>Basemaps</h3>
                                <div class="base-layers">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </td>

        <td class="cell map-cell">
            <div class="map-container">
            </div>
        </td>
        <td>
        </td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
