<div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
</div>
<div class="inputs">
    <% _.each(['vmin', 'vmax'], function(minmax){ 
        var cbId = view.cid + '-' + minmax + '-cb';
    %>
    <div class="<%= minmax %> minmax-input">
        <div class="text-container">
            <input type="text">
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="<%= cbId %>">
            <label for="<%= cbId %>">auto</label>
        </div>
    </div>
    <% }); %>
</div>
